.container
  .row
    .col-md-3.col-sm-6
      %a{:href => "#"}
        = image_tag('logos/envato.jpg', class: 'img-centered img-responsive')
    .col-md-3.col-sm-6
      %a{:href => "#"}
        = image_tag('logos/designmodo.jpg', class: 'img-centered img-responsive')
    .col-md-3.col-sm-6
      %a{:href => "#"}
        = image_tag('logos/themeforest.jpg', class: 'img-centered img-responsive')
    .col-md-3.col-sm-6
      %a{:href => "#"}
        = image_tag('logos/creative-market.jpg', class: 'img-centered img-responsive')
